body {
  position: relative;
  height: auto;
  min-height: 100vh;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  overflow: hidden;
  margin: 0;
  background: #333642;
}

#wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

#container {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  position: relative;
  display: flex;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#sidebarLeft,
#sidebarCenter {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f8f8f8;
  min-width: 450px;
  display: flex;
  flex-direction: column;
}

#main {
  flex-basis: 0;
  flex-grow: 1;
  background: #f8f8f8;
  height: 100%;
  min-width: 450px;
  flex-direction: column;
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.offcanvas {
  background: #f8f8f8;
}

.offcanvas-body {
  padding-top: 0;
}

#resizerLeft,
#resizerRight {
  flex-basis: 3px;
  position: relative;
  z-index: 2;
  cursor: col-resize;
  border-left: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  background: #dfd7ca;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#add-content {
  width: 80px;
  float: right;
  background-color: forestgreen;
}

#remove-content {
  width: 80px;
  float: right;
  background-color: salmon;
}

#workspace-modal-tree {
  min-height: 75px;
  max-height: 150px;
  overflow: auto;
}

label {
  font-size: 0.9rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#tree .list-group,
#workspace-modal-tree .list-group {
  border-radius: 0;
}

#tree .list-group-item,
#workspace-modal-tree .list-group-item {
  border: 0;
}

#tree .list-group {
  background: #f8f8f8;
  --bs-list-group-bg: #f8f8f8;
}

#nav-tabContent {
  overflow: auto;
  height: 100%;
}

#nav-request-data,
#nav-request-metadata,
#nav-request-authentication {
  padding: 10px;
}

#nav-request-data-title {
  padding: 10px 0 0 10px;
  margin-bottom: 0;
}

#nav-request-data .label-type {
  float: right;
}

.request-message-button-add {
  margin-right: 5px;
}

.request-message-container {
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  margin-top: 10px;
  margin-left: 15px;
  padding-left: 10px;
  display: none;
}

.request-message-input-delete {
  text-align: right;
}

#nav-result,
#nav-result-headers {
  width: 100%;
  height: inherit;
  margin-top: 10px;
}

.string {
  color: green;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.number {
  color: darkorange;
}

.boolean {
  color: blue;
}

.null {
  color: magenta;
}

.key {
  color: red;
}

#query-error {
  width: 100%;
  padding: 10px 10px 0 10px;
}

#query-error .alert {
  margin-bottom: 0;
}

#left-select {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

#left-select select {
  margin-right: 5px;
}

#right-info {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 5px;
}

#badge-result {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 0.375rem 0.5rem 0.375rem 0.5rem;
  border-width: 1px;
  border-color: inherit;
  border-style: solid;
  visibility: hidden;
}

#time-spent {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  margin: auto 5px auto 10px;
}

.metadata-row {
  margin-top: 10px;
  width: 100%;
}

.metadata-row .request-metadata-button-delete {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

#nav-result-headers {
  padding: 10px;
}

#nav-result-headers .header,
#nav-result-headers .trailer {
  visibility: hidden;
}

#query-result-headers,
#query-result-trailers {
  margin-left: 5px;
}

#request-run {
  padding-left: 2rem;
  padding-right: 2rem;
}

#request-edit-buttons {
  display: none;
}

#query-result {
  padding: 5px 10px 10px 10px;
  overflow: initial;
}

#right-nav-tab {
  overflow: auto;
  height: 100%;
}

#workspace-modal-proto-files,
#workspace-modal-import-path {
  min-height: 50px;
  max-height: 85px;
}

.modal-body {
  overflow-y: scroll;
}

#workspace-modal-badge-server-id {
  font-size: inherit;
  visibility: hidden;
}

#tree .list-group-item.over {
  border-bottom: 2px dotted #dfd7ca;
}

#tree .list-group-item.show-menu {
  background-color: #f5f5f5;
}

.tree-node-dots {
  float: right;
  visibility: hidden;
  margin-left: 15px;
}

.dropdown-item i {
  margin-right: 10px;
}

.dropdown-menu {
  --bs-dropdown-min-width: 7rem;
}

.offcanvas-header,
.modal-header {
  background-color: #f8f5f0;
}

.breadcrumb,
.btn,
.dropdown-menu .dropdown-item,
.nav-pills .nav-link,
.nav-tabs .nav-link,
.navbar .nav-link,
.pagination,
.sandstone,
.tooltip {
  text-transform: inherit;
}

.hidden {
  display: none;
}

#aboutModal .modal-body {
  overflow: hidden;
}

#aboutModal .modal-body .header,
#aboutModal .modal-body .body {
  text-align: center;
}

#aboutModal .modal-body img {
  width: 128px;
  margin-bottom: 0.3rem;
}

#aboutModal .modal-body .mb-3 {
  margin-bottom: 0 !important;
}

#aboutModal .modal-header {
  background-color: #f8f5f0;
}

#aboutModal .label {
  font-size: 0.7rem;
  color: #8e8c84;
}

#aboutModal a {
  font-size: 0.7rem;
}

#aboutModal .title {
  text-align: right;
}

#aboutModal .version {
  text-align: left;
}

#aboutModal .body label {
  font-size: 0.8rem;
  color: #8e8c84;
}

.error-label {
  font-weight: bold;
  display: inline-block;
  padding-right: 15px;
}

.alert-warning {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}

.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

#offcanvas-tree-search,
#tree-folder-name,
#workspace-modal-folder-title {
  outline: none;
  outline-offset: 0;
  box-shadow: none;
}

#offcanvas-tree-search,
#tree-folder-name {
  border: 1px solid #ced4da;
}

#workspace-modal-folder-title {
  border-color: #dfd7ca;
  border-bottom-left-radius: 0;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

#settingsModal .form-switch {
  padding-top: calc(0.375rem + 1px);
}

#settingsModal .form-switch .form-check-input {
  margin-left: -1.8em;
}

#settingsModal .modal-body {
  overflow: hidden;
  padding-bottom: 0;
}

#settingsModal .restart-label {
  font-size: 0.7rem;
  line-height: 0;
  color: forestgreen;
  visibility: hidden;
}

#nav-request-data-title {
  font-size: 1rem;
  font-weight: 500;
  line-height: 0.7;
}

#stream-control {
  margin: auto 5px auto auto;
  visibility: hidden;
}

#stream-control button {
  padding-left: 1rem;
  padding-right: 1rem;
}

#stream-info {
  margin: auto 5px auto 0;
  font-size: 1rem;
  font-weight: 500;
  display: none;
}

#stream-info div {
  display: inline-block;
}

#stream-sent {
  margin-left: 5px;
  color: #ffc107;
}

#stream-received {
  margin-left: 5px;
  color: forestgreen;
}

#stream-info .sent,
#stream-info .received {
  margin-left: -5px;
}

#stream-stop {
  visibility: hidden;
}

.hr {
  width: 100%;
  text-align: right;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
  line-height: 0.1em;
  margin: 10px 0 10px 0;
}

.hr span {
  color: #325d88;
  background: #f8f8f8;
  font-size: 0.6rem;
  padding-left: 5px;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 0.7;
}

.input-bytes .remove {
  display: none;
}

.input-bool {
  margin-top: 1.3rem;
}

.auth {
  margin-top: 10px;
}

#nav-workspace-authentication .authentication {
  display: none;
}

#nav-workspace-authentication .error {
  border-color: #d9534f;
  box-shadow: 0 0 0 0.25rem rgb(217 83 79 / 25%);
}


